
*.pbxproj

ChitChat.xcodeproj/project.xcworkspace/xcuserdata/brauwersc.xcuserdatad/UserInterfaceState.xcuserstate

ChitChat.xcodeproj/project.pbxproj

ChitChat.xcodeproj/xcuserdata/brauwersc.xcuserdatad/xcschemes/ChitChat.xcscheme

ChitChat.xcodeproj/xcuserdata/brauwersc.xcuserdatad/xcschemes/xcschememanagement.plist

ChitChat.xcodeproj/project.pbxproj
