
update_appcast.xml

ChitChat.xcodeproj/project.xcworkspace/xcuserdata/brauwersc.xcuserdatad/UserInterfaceState.xcuserstate

WhatsMac/AppDelegate.m

WhatsMac/Base.lproj/MainMenu.xib

WhatsMac/inject.js

update_appcast.xml
